
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 25vw;
    height: 25vw;
    background: rgba(244, 234, 234, 0.7);
    opacity:0.4;
    filter:alpha(opacity=40);
}

div.type1:hover{
    border: 11px solid rgba(255, 248, 248, 0.7);
    cursor: pointer;
}

div.first-circle:hover{
    cursor: pointer;
}
div.second-circle:hover{
    cursor: pointer;
}
div.third-circle:hover{
    cursor: pointer;
}

.main-body {
    background-image: url(/public/images/background_image.png);
    background-size: 100%; 
}

.home-icon-div {
    margin-top: 4%;
    padding-left: 3%;
    padding-bottom: 2%;
}

.title {
    color: white;
    font-size: 4.5rem;
}

.circles-row {
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.circle-content {
    position: absolute;
    top: 28%;
    left: 4%;
    z-index: 4;
    padding-left: 5%;
    padding-right: 5%;
}

.second-circle-content {
    position: absolute;
    bottom: 20%;
    left: 43%;
    z-index: 4;
    padding-left: 5%;
    padding-right: 5%;
}

.text-inside-circle {
    color: white;
    font-size: 2.5vw;
    line-height: 1.20;
}

.main-circle-div {
    position: relative;
}

.second-circle {
    left: 36%! important;
}

.third-circle {
    top: 26%;
    left: 63%! important;
}

.first-line-text {
    margin-top: 3%;
}

.asset-image {
    height: 5vw;
}

.back-image {
    height: 5vw;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
    
   .circle-content{
        left: 4%;
    } 
    .second-circle {
        left: 36%! important;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    
    .circle-content{
        left: 3%;
    }
    .second-circle {
        left: 35%! important;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape)  {
    
   .circle-content{
        /*left: 5%;*/
    } 
    .second-circle {
        /*left: 37%! important;*/
    }
}

