.row_padding_top_bottom{
    padding: 5px 0px 5px 0px;
}

.table-borderless{
    border :none !important;
}

.vcenter >  tbody > tr > td {
    display: inline-block;
    vertical-align: middle !important;
    float: none;
 }