<html lang="en">
    <head>
        <title>Vendor Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/public/stylesheets/style.css">
        <link rel="stylesheet" href="/public/stylesheets/new_style.css">
        <script src="/public/scripts/jquery-3.3.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <style>

        </style>
    </head>
    <body class="landing">
        <div class="intro_text">

            <p>Welcome to Lilly!</p> 
        </div>

        <div class="select_text">
            <p>Please select your floor</p>		 		
        </div>
        <div class="floor_selection">
            <div class="first_floor floor_4_hall_1" id="floor_4_hall_1">
                <span>Floor 4 Hall 1</span>
            </div>
            <div class="second_floor floor_4_hall_2" id="floor_4_hall_2">
                <span>Floor 4 Hall 2</span>
            </div>
        </div>
        <div class="floor_selection">
            <div class="third_floor floor_5" id="floor_5">
                <span>Floor 5</span>
            </div>
            <div class="fourth_floor floor_10" id="floor_10">
                <span>Floor 10</span>
            </div>
        </div>


        <footer>

        </footer>




       <!--  <script src="/public/javascripts/VisiterEntryScript.js"></script> -->
        <script src="/public/scripts/jquery.jqGrid.min.js" type="text/javascript"></script>

    </body>
</html>