<html lang="en">
	<head>
	  <title>Vendor Page</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <link rel="stylesheet" href="custom.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="style.css">
	  <style>
		
   
	  </style>
	</head>
	<body class="">		
	<header>
		<div class="top">
			<img class="top_rect" src="Slider white.png"/> 
		</div>	
	</header>
	
	<div class="">
		 <div class="parent_div">
			<div class="col-md-6">
			<a href="#">
				<figure class="fig1">
				  <img src="visitor_tag.png"/>
				  <figcaption>Add New Visitor</figcaption>
				</figure>
			 </a>
			  
			</div>		
			<hr>
			<div class="col-md-6">
			<a href="#">
			     <figure class="fig2">
				  <img src="visitor_detail.png"/>
				  <figcaption>Visitor Details</figcaption>
			  </figure>
			</a>
			</div>	
		
		</div>
	</div>
	</body>
</html>