<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="">
            <div class="col-sm-3">
                <img id="cross" src="cross.png" />
            </div>
            <div class="col-sm-6">
                <img id="slider" src="Slider white.png" /> 
            </div>
            <div class="col-sm-3">
                <img id="homeicon" src="home_icon.png" />
            </div>
        </div>
        
         
    </div>

    <div class="container visitor">
        <div class="row">
            <div class="col-sm-6 left visitor_details">
                <p class="visitor_name">Visitor 1</p>
                <p class="date">Oct 15, 2018</p>
            </div>
            <div class="col-sm-6">
                <label class="white_bg right"><p class="status">Pending</p></label>
            </div>
        </div>

    </div>
</body>
</html>
