html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: sans-serif! important;
    padding: 0px;
}

 /*CSS added ash Aiswarya A*/
#scrolladd{
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;  
   }

/* Added by Abhishek as part of review on 15-Mar-2019 */

/* Appplied to "Back" icon on every div/ Page */
.back {
    position: fixed;
    top: 20px;
    left: 10px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: none;
}

/* Appplied to "Home" icon on every div/ Page */
.home, home_icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 200;
    display: none;
}

.no-image-available {
    width: 210px;
    display: block;
    margin: 0 auto;
}

.form-check-input {
    position: static !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    vertical-align: middle; 
}

hr {
    width: 90%;
}

.right-align {
    text-align: right !important;
}

#visitorInfoDiv {
    width: 100%;
    height: 100%;
    position: relative; 
}

#multipleVisitors {
    width: 100%;
    display: none;
}

.company-form-div-cloned {
    width: 80%;
    margin: 0 auto;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: static !important;
    top: 0px !important;
    background-color: white;
    border-radius: 6px;
    line-height: normal !important;
    font-family: Arial, sans-serif !important;
    font-size: 14pt !important;
}

.signup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100%;
    /*border: solid 5px red;*/ 
}

#escort_slider {
    width: 100%;
    height: 100%;
    position: fixed;
   /*  border: 5px solid green; */
}

.btn-clear-sign {
    float: right;
    margin-top: 5px;
    font-family: Arial, sans-serif !important;
    font-size: 11pt !important; 
    background-color: rgb(3,166,255);
    color: white;
}

.modal-content {
    height: 200px;
}

.modal-header {
    height: 60px;
}

.modal-body {
    font-family: Arial, sans-serif !important;
    font-size: 10pt !important;
    height: 100px;
    line-height: 50px;
}

.text-align-center {
    text-align: center !important;
}

.guard-verify {
    width: 80%;
    margin: 0 auto;
    height: 80%;
    position: relative;
    top: 50%;
}

#thank_visitor_show_escort {
    background-image: linear-gradient(to right, #3a90cb , #2ed9d0);
    position: fixed;
    top: 100%;
    width: 100%;
    height: 100%;
    font-family: 'tradegothiclt-bold', sans-serif;
    font-size: 52.5px;
    color: rgba(255,255,255,0.95);
    /*border: solid 5px red;*/
    display: none;
}

    #thank_visitor_show_escort #outer {
        width: 100%;
        height: 100%;
        position: fixed;
        bottom: 0px;
        /*display: flex;
        justify-content: center;
        align-items: center;*/
        /*border: solid 5px green;*/ 
    }

    #thank_visitor_show_escort #inner {
        width: 90%;
        margin: 0 auto;
        position: relative;
        top: 50%;
        /*border: solid 5px yellow;*/
        text-align: center; 
        line-height: 5;
    }
     
/* CSS for bouncing right arrow */
@-webkit-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}
@-moz-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}
@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
}

.arrow-right {
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;  
}  
/* CSS for bouncing right arrow - end */

/*iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape)
  { 
    .sign{
    height:150px;
    width:335px;
    margin-top: 9px; }

    .asset_txt {
        padding-left: 42.5px !important;
    } 
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {   .sign{

    height:150px;
    width:410px;
    margin-top: 9px;
}}

@media only screen 
and (min-device-width : 1025px) 
 {   .sign{

    height:150px;
    width:500px;    margin-top: 9px;
}}
.btn-cyan {
    color: #fff;
    background-color: #2ed9d0;
}
.signatureAdded
{
    color:green;
}

.error
{
   
}


.bounce
{ border-bottom: 1px solid red!important;
   
    outline: 0;
    animation-name: bounce;
    animation-duration: .5s;
    animation-delay: 0.25s;

}
@keyframes bounce {
    0% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(5px);
      timing-function: ease-out;
    }
    55% {
      transform: translateX(-5px);
      timing-function: ease-in;
    }
    73% {
      transform: translateX(4px);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-4px);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
  }

#text_div {
    font-family: 'tradegothiclt-bold', sans-serif;
    font-size: 52.5px;
    color: rgba(255,255,255,0.95);
    width: 80%;
    margin: 0 auto;
    position: relative !important;
    top: 50% !important;
    /*border: solid 5px red;*/
    text-align: center;
    overflow: hidden;
    line-height: normal;
}

    #text_div span, #text_div input, #text_div select {
        position: relative;
        top: 1000px;
    }

    #text_div input, #text_div select {
        display: block;
        width: 550px;
        height: 50px;
        color: rgba(0,0,0,0.9);
        font-family: Arial;
        font-size: 14pt;
        padding: 10px;
        margin: 7.5px auto;
        border-radius: 5px;
    }

    #text_div input {
        margin-top: 30px;
    }

.image_div {
    width: 10%;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    right: 0px;
    /* border: solid 5px yellow; */
}

    .image_div img {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        margin-left: -25px;
        top: 50%;
        margin-top: -25px;
        /*display: none;*/
    }

#guard_div .image_div {
    width: 10%;
    height: 100px;
    position: fixed;
    top: 50%;
    margin-top: -50px;
    right: 0px;     
}

.disabled i
{
    color:grey;
}
.sign {
    display: block !important;
    height:150px;
    width:100%;
    margin: 0 auto;
}

.signatureAdded
{
    color:green;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.question-div {
    color: white;
    /*font-size: 4.5vw;*/
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden; 
    /*border: solid 5px red;*/
    position: fixed;     
}

.question-text {
    font-family: 'tradegothiclt-bold', sans-serif;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 50%;
    margin-top: -50px; 
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
    width: 26vw;
    height: 26vw;
    margin: 0 auto;
    /*border: 5px solid blue;*/
    text-align: center; 
    display: table;
    background-color: transparent;
}

.underlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 26vw;
    height: 26vw;
    background-color: black; 
    /*background: rgba(80, 62, 62, 0.93);*/
    opacity: 0.25;
    filter: alpha(opacity=40);
    margin: 0 auto;
    /*border: 5px solid blue;*/
    text-align: center;
    display: table;
    z-index: 0; 
    border-radius: 50%;
}

.main-page-right-div {
    background-image: url(images/background%20image%20white.png);
    right: 0px;
    left: 50%;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
}

.main-page-body {
    overflow-x: hidden;
    background-color: black; 
    /*background-image: linear-gradient(to right, #3a90cb , #2ed9d0);*/
}

.image-text {
    font-size: 16pt;
    color: white;
    font-family: sans-serif;
    display: table-cell;
    vertical-align: middle;
}

.asset-div {
    top: 29%;
    left: 15%;
}

.icon-images {
    margin-bottom: 5%;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .image-text{
        top: 44%;
    }
}
.main-page-right-div2 {
    background-image: linear-gradient(to right, #3a90cb , #2ed9d0);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;    
}

.inner-div {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
}

.details-div {
    left: 27%;
}

.circle-initial-position {
    /*border: 5px solid yellow;*/
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 365px;
    position: relative;
    top: 100%;
    /*margin-top: -182.5px;*/
}

/* DEMO-SPECIFIC STYLES */
.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(20, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

input[type='text'], textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; 
}

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

img {
  max-width: 100%;
  height: auto; 
}

.main {
  background:linear-gradient(to right, #3a90cb , #2ed9d0);
  width: 100%;
  height: 100%;
}

.form-title {
  margin-bottom: 33px;
  font-size: 3vw;
}

.form-body {
  width: 100%;
  height: 100%;
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: linear-gradient(to right, #3a90cb , #2ed9d0);;
  font-weight: 400;
  font-family: Poppins;
}

.container-div {
  width: 80% !important;
  margin: 0 auto;
  /*height: 575px !important;*/
  background: #fff;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  position: relative;
  /*top: 50%;*/
  /*margin-top: -287.5px;*/
}
.form-group {
  position: relative;
  margin-bottom: 0px !important;
  overflow: hidden; 
}
.form-group:last-child {
    margin-bottom: 0px;
}
/* Bootstrap 4 text input with search icon */

input::-webkit-input-placeholder {
   color: #999;
}
input::-moz-placeholder {
   color: #999;
}
input:-ms-input-placeholder {
   color: #999;
}
input:-moz-placeholder {
   color: #999;
}
input:focus::-webkit-input-placeholder {
   color: #222; }
input:focus::-moz-placeholder {
   color: #222; }
input:focus:-ms-input-placeholder {
   color: #222; }
input:focus:-moz-placeholder {
   color: #222; }

@media screen and (max-width: 1200px) {
  .container {
    width: calc( 100% - 30px);
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px; }
}
@media screen and (max-width: 768px) {
  .form-button {
     text-align: center;
  }
  .form-title {
     text-align: center;
   }
}
.form-icons {
    font-size: 16pt !important;
    vertical-align: middle;
    text-align: left; 
    padding-left: 1%; 
    /*  line-height: .75em!important;
      position: absolute;
      padding-top: 3%;
      padding-left: 1%;*/
}
 
 .input-boxes {
  width: 89%;
  height: 45px;
  /*display: block;*/
  border: none;
  border-bottom: 1px solid 	#D8D8D8;
  padding: 20px 15px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 11pt !important;  
}

.form-buttons{
  background-color: #2ed9d0!important;
    border: none!important;
    color: white!important;
}
.name-input {
    width: 45%;
    height: 50px;
}

.text-style {
    font-size: 4vw;
    color: white;
}

#purpose_question {
    width: 100%;
    height: 100%;
}

.purpose-question-text {
    font-family: 'tradegothiclt-bold', sans-serif;
    font-size: 52.5px;
    color: rgba(255,255,255,0.95);
    width: 100%;
    height: 100%;
    position: fixed;
    /*border: solid 5px blue;*/
    display: table;
    line-height: 100px; 
}

    .purpose-question-text div {
        width: 100%;
        height: 100%;
        text-align: center; 
        position: relative;
        /*top: 50%;*/
        line-height: 1.25 !important; 
        /*border: solid 5px yellow;*/
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;   
    }

    .purpose-question-text div span {
        position: relative;
        top: 1000px;
    }

.purpose-btns {
    font-size: 2.2vw!important;
    height: 90%;
    width: 90%;
}

.button-rows {
    margin: 0 9%!important;
}

.other-input {
    width: 90%;
    height: 50px;
    margin-left: 6%;
    margin-top: 3%;
}

#info_div {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100%;
}

.company-form-div {
    width: 80%;
    margin: 0 auto; 
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll; 
    position: relative;
    top: 50%;
    background-color: white;
    border-radius: 6px;
    line-height: normal !important;
    font-family: Arial, sans-serif !important;
    font-size: 14pt !important;
}

div.mt-3 {
    height: 45px;
    margin-top: 0px !important;
    /*border: 1px solid blue;*/
} 

.form-labels {
    font-size: 2.5vw;
}

.company-btns {
    font-size: 2.2vw;
    height: 100%;
    width: 90%;
}

.purpose-form-icons {
    color: #0654a7;
    font-size: 2em!important;
    padding-top: 1.5%;
}

.form_content {
    height: 100%;
    padding: 10px;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    /*letter-spacing: -0.01px;*/
    /*line-height: 22px;*/
    border-radius: 15px;
    
}

.btn_on_click{
    background-color: #0069d9!important;
    border-color: #0069d9;
}

.initial-position {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100%;
}

#txt_visitor_name {
    padding: 4px 44px;
    margin-top: 3%;
}

#txt_visit_purpose {
    padding: 4px 44px;
}

.btn.disabled, .btn:disabled{
    background-color: #a09e9e!important;
    cursor: not-allowed!important;
    color: white!important;
}


.proceed-button {
    background-color: #007bff!important;
    border: none!important;
}

/* #next_btn {
    margin-top: 4%;
} */

#guardConsent {
    width: 25px;
    height: 25px;
}

.initial {
    height: 50px;
    margin-top: 4%;
    font-size: 18px;
    padding: 0% 3%;
    font-weight: bold;
}

.logout_txt{
    color: white;
    margin-top: 1%;
    font-size: 2.5vw;
    text-decoration: underline;
    cursor: pointer;
}

.dropdown select{
    background:white;
     color:black;
     line-height: 1;
     border: 0;
     border-radius: 0;
    }
  
  .dropdown:before {
      content: "";
      position: absolute;
      right: 4%;
      top: 57%;
      z-index: 2;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid black;
  }
  
  .dropdown:after {
      content: "";
      position: absolute;
      right: 10px;
      top: 3px;
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
  }
  
  select > option {
    background: #D3D3D3;
    color: black;
   }

   .right-arrow1{
    font-size: 50px;
    color: white;
    margin-right: 7%;
   }

   .white-arrow{
    color: white;
   }

   .disabled-arrow{
    color: #8ba2b9;
   }

   .asset_txt{
    font-size: 11pt !important; 
    padding-left: 102.5px !important;
    height: 45px;
    line-height: 45px; 
   }

   .radio-label-txt{
    
   }

   .radio-button{
    width: 21px;
    /*height: 21px;*/
   }

   .radio-form-check{
    display: inline !important;
    margin-top: 4%;
    font-size: 11pt;
   }

   .blue-text{
       color: #0654a7;
   }